.SidebarOpenContainet{
    height: 100%;
    background-color: #373737;

    position: fixed;
    z-index: -1;
}
.MenuContainer{
    display: grid;
    justify-content: start;

    padding-top: 20px;
}
.MenuContainer div{
    display: flex;
    align-items: center;

    line-height: 250%;
    width: 200px;
    padding-left: 20px;
    cursor: pointer;
}
.MenuContainer div:hover{
    background-color: #444444;
}