.SidebarOpenContainet{
    height: 99.5%;
    margin-top: 18px;
    background-color: #373737;
}
.MenuContainer{
    display: grid;
    justify-content: start;
}
.MenuContainer a{
    display: flex;
    align-items: center;

    line-height: 250%;
    width: 249px;
    padding-left: 20px;
    cursor: pointer;
}
.MenuContainer a:hover{
    background-color: #444444;
}