.HeaderMenuContainer{
    margin-left: 15px;
    margin-top: 1rem;
    cursor: pointer;
    width: 30px;
}

/* 3-полоски */
.HeaderMenuContainer div{
    max-width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 7px;
}
