.HeaderMenuContainer{
    margin-left: 20px;
    cursor: pointer;
    width: 30px;
}

.HeaderMenuContainer div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 7px;
}
.HeaderMenuContainer :last-child{
    margin-bottom: 0px;
} 