.HeaderSearchContainer{
    display: flex;
}
.HeaderSearchContainer button{
    width: 50px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: #222222 url("../../../assets/img/search.svg") no-repeat;
    background-size: 50% 60% ;
    background-position: 50% 50%;
    border-right: #757575 1px solid;
    border-radius: 3px 0px 0px 3px;
}
.HeaderSearchContainer input[type="text"]{
    height: 34px;
    width: 350px;
    background-color:#222222;
    color: white;
    border: none;
    border-radius: 0px 3px 3px 0px;
    padding-left: 15px;
    font-size: 15px;

    outline:none;
}
@media (max-width: 1024px) { 
    .HeaderSearchContainer input[type="text"]{
        width: 60vw; 
    }
}
@media (max-width: 523px) { 
    .HeaderSearchContainer input[type="text"]{
        width: 40vw; 
    }
}