.TopText h2, h5{
    margin: 0px;
    line-height: 0rem;
}
.TopText{
    margin: 2rem 0px 2rem 0px;
}

.PhotoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80vw;
}
.PhotoContainer div div{
    padding: 1em;
}
.PhotoContainer div img{
    height: 10.7vw;
}

@media (max-width: 1024px) {
    .PhotoContainer{
     
        grid-template-columns: 1fr 1fr 1fr ;
 
    }
}
