.app-wrapper{
   display: grid;
   grid-template-rows: 0fr 1fr;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.pages{
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
}
.menu{
    height: 94.5vh;
    z-index: 100;
}
.header{
    z-index: 90;
}
@media (max-width: 768px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .menu{
        margin-top: -200px;
        height: 0px;
        /* z-index: -1; */
    }
}