.app-wrapper{
   display: grid;
   grid-template-rows: 0fr 1fr;
   /* background-color: red; */

}
.wrapper{
    display: grid;
    grid-template-columns: 0fr 1fr;
    /* position: relative; */

}
.pages{
    border: 1px solid red;
    /* margin-top: 5rem; */
    
}
.menu{
    border: 1px solid;
}
